{% extends 'base.html' %}
{% load static %}

{% block title %}login{% endblock %}
{% block body %}
{% block content %}
<br><br>

    <div class="container">
        <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
            <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">Login</button>
        </form>

        <br><br><br><br>
        Don't have an account? <a href="/register" target="blank"><strong>register here</strong></a>!
    </div>
{% endblock %}
{% endblock body %}